[submodule "tests/Unity"]
	path = tests/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
