name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: |
        sudo apt install build-essential
        sudo apt install gcc-arm-none-eabi binutils-arm-none-eabi openocd
        sudo apt install cmake
    - name: build
      run: | 
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Debug -G 'CodeBlocks - Unix Makefiles';
        cmake --build . --target ISB-UAVBus.elf -j 4
    - name: build&run tests
      run: |
        git submodule init
        git submodule update
        mkdir build-tests
        cd build-tests
        cmake .. -DCMAKE_BUILD_TYPE=Debug -DBUILD_UTESTS=ON -G 'CodeBlocks - Unix Makefiles'
        cmake --build . --target bluetooth_test
        
